.fixedTopbarMain {
    height: 84px;
}

.fixedTopbar {
    height: 66px;
    align-items: center;
    padding: 0px 30px;
    position: fixed;
    top: 0;
    background-color: #0B4077;
    z-index: 9999;
    margin-bottom: 10px;
}

.gotItBtn {
    max-width: 120px;
    width: 100%;
    padding: 8px 15px;
    color: #0b4077;
    background-color: #fdc20a;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flagIcons {
    margin-bottom: 10px;
}

.flag {
    gap: 12px;
    width: 300px;
    max-width: max-content;
}

.flagImg {
    display: block;
    height: 22px;
}

.TopBarIcons {
    font-size: 17px;
    margin-left: 4px;
    margin-top: 1px;
}

.navbarInner {
    background: linear-gradient(to bottom, rgba(0, 61, 160, 1) 0, rgba(0, 108, 204, 1) 100%);
    padding-top: 18px;
}

.logoCallBtns {
    padding: 13px 0px 10px 0;
}

.mainLogo {
    margin-left: -28px;
}
.icons{
    gap: 3px;
}

.tel {
    display: block;
    color: #fff;
    text-align: right;
    font-size: 1.1em;
    line-height: 2.2em;
    text-transform: uppercase;
    text-decoration: none;
}

.userButtons a {
    height: 50px;
    width: 50px;
    object-fit: contain;
    background-color: #fff;
    color: #0b4077;

}

.currencyLogoButtons a,
.currencyLogoButtonsList a {
    height: 50px;
    width: 50px;
    object-fit: contain;
    background-color: #fff;
    color: #0b4077;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
}

.currencyLogoButtons a:hover,
.currencyLogoButtonsList a:hover {
    background-color: #0b4077;
    color: #fff;
}

.currencyLogoButtonsList {
    max-width: 50px;
    width: 50px;
    min-width: 50px;
    padding: 0px;
    border: none;
    margin-top: -2px !important;
}

.logoButtonsToggle::after {
    display: none;
}

.sellingButtons a {
    background: #fdc20a;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 50px;
    text-align: center;
    line-height: 1;
    padding: 0px 20px;
}

nav {
    background-color: #CCE0F3;
}

@media (max-width:992px) {
    .navbarInnerChild {
        position: relative;
    }

    .navbarTogglerIcon {
        width: 40px;
        height: 40px;
        color: #fff;
    }

    /* .navbarToggler{
        position: absolute;
    } */
    /* .navMain{
        position: static;
    } */
}

@media (max-width: 767px) {
    .fixedTopbar {
        padding: 0px 10px;
    }

    .message {
        font-size: 15px;
        text-align: center;
        line-height: 15px;
    }
}