@font-face {
  font-family: "Avenir";
  src: local("avenir"),
   url("./fonts/AvenirLTStd-Book.otf") format("truetype");
  /* font-weight: 400; */
 }

body {
  margin: 0;
  font-family:"Avenir";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Avenir' !important;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.container {
  width: 1100px;
  max-width: 96%;
  margin-right: auto;
  margin-left: auto;
  /* border: 1px solid red; */
  padding: 0px;
}